<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="General">
        <setting label="Select best quality stream" type="bool" id="best_stream" default="true" enable="false"/>
    </category>

    <category label="Network">
        <setting label="Proxy HTTP requests" type="bool"  id="use_proxy" default="true" enable="false"/>
        <!--
        <setting label="Use custom proxy" type="bool" id="custom_proxy" enable="eq(-1,true)" default="false"/>
        <setting label="HTTP" type="lsep" visible="eq(-1,true)"/>
        <setting label="Address" type="ipaddress" id="http_address" visible="eq(-2,true)"/>
        <setting label="Port" type="number" id="http_port" visible="eq(-3,true)"/>
        <setting label="HTTPS" type="lsep" visible="eq(-4,true)"/>
        <setting label="Same as HTTP" type="bool" id="http_for_https" visible="eq(-5,true)" default="true"/>
        <setting label="Address" type="ipaddress" id="https_address" visible="eq(-6,true) + !eq(-1,true)"/>
        <setting label="Port" type="number" id="https_port" visible="eq(-7,true) + !eq(-2,true)"/>
        -->
    </category>

    <category label="Authentication">
        <setting label="Email" type="text" id="email" default=""/>
        <setting label="Password" type="text" id="password" option="hidden"  enable="!eq(-1,)" default=""/>
    </category>
</settings>
